/target/
.project
.settings/
.classpath
/drivers/
result.txt
.DS_Store
src/test/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/pros/.DS_Store
src/main/java/pros/unicam/.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
src/test/java/pros/.DS_Store
src/test/java/pros/unicam/.DS_Store
src/test/java/pros/unicam/spm2021/.DS_Store
src/test/java/pros/unicam/spm2021/practice/.DS_Store
resources/